<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/style.css">
    <title>Home | RCCG</title>
</head>
<body>

  <!-- Navigation -->
  <% include topmenu %>
        <div class="jumbotron jumbotron-fluid homejumbbg jumb">
          <h1 class="text-center h1big text-light">Welcome to RCCG</h1>
          <p class="text-center lead text-light">Where God is at work with Signs and Wonders. <br> You will forever remain in Dominion</p>
          <div class="text-center">
            <a class="btn rounded-pill btn-lg  fade-red  " href="" id="link">Connect</a>
          </div>
        </div>

        <section class="container-fluid" id="section1">
          <p class="lead text-center" style="font-size:32px;" id="mission">Fulfilling the Great Commission through fervent prayer <br>
            passionate worship and dedication to helping people  fulfill <br> their God given destines.
          </p>
          <hr class="mb-5">

          <!-- Nested Container -->
          <div class="container">
            <div class="row mb-5">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <img src="/assets/images/pastor.jpg" alt="">
                    <hr>
                    <p> "For all have sinned and fall short of the glory of God, and are justified by His grace as a gift, through the redemption that is in Christ Jesus, whom God put forward as a propitiation by His blood, to be received by faith." (Romans 3:23-25)</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <img src="/assets/images/pastor.jpg" alt="">
                      <hr>
                      <p> "For all have sinned and fall short of the glory of God, and are justified by His grace as a gift, through the redemption that is in Christ Jesus, whom God put forward as a propitiation by His blood, to be received by faith." (Romans 3:23-25)</p>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card" id="pastor">
                        <img src="/assets/images/pastor.jpg" class="card-img-top" alt="">
                      <div class="card-body">
                          <p class="text-fade-red">Meet the Pastors</p> 
                        <hr>
                        <p class="text-justify"> "For all have sinned and fall short of the glory of God, and are justified by His grace as a gift, through the redemption that is in Christ Jesus, whom God put forward as a propitiation by His blood, to be received by faith." (Romans 3:23-25)</p>
                      </div>
                    </div>
                  </div>

                <div class="col-lg-4">
                    <div class="card">
                      <img src="/assets/images/worship.jpg" class="card-img-top" alt="">
                      <div class="card-body"> 
                        <p class="text-fade-red">Worship with us</p> 
                      <hr>
                      <p class="text-justify"> We invite you to worship with our church family at our weekly services, and gatherings through the week. Join us Sundays at 9:30AM and Wednesdays at 7:00PM. Be sure to check out upcoming events to find more ways to connect!</p>
                      </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card">
                      <img src="/assets/images/connected.jpg" class="card-img-top" alt="">
                      <div class="card-body">
                        <p class="text-fade-red">Stay Connected</p>  
                      <hr>
                      <p class="text-justify"> As the body of Christ, we are called to be Christ's body on earth. We need constant encouragement to do that effectively. We're updating the Life Blog daily with devotionals, prayer guides, sermon notes and words of encouragement from our staff and community. </p>
                      </div>
                    </div>
                </div>

              </div>
            </div>
            
          </div>

         


        </section>


    <script src="/assets/vendor/bootstrap/jquery/jquery-3.3.1.min.js"></script>
</body>
</html>