<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
        <%include ../partials/bootstrap%>
        <link rel="stylesheet" href="/css/toastr.min.css">
    <title>Create New Category</title>
</head>

<body>
    
    <div class="dashboard-main-wrapper">
        <%include ../partials/navbar%>
        <%include ../partials/sidebar%>
       
            
                <div class="container  dashboard-content ">                    
                        <div class="row justify-content-center">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-4 mt-2">
                                        <div style="padding-left:12em">
                                            <h2 class="pageheader-title">Church Management System Dashboard </h2>
                                            <div class="page-breadcrumb">
                                                <nav aria-label="breadcrumb">
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                                        <li class="breadcrumb-item" aria-current="page">Category</li>
                                                        <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                                                    </ol>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12  ">
                                        <div class="card">
                                                <h5 class="card-header"><i class="fas fa-list">&emsp;</i>Add New Category </h5>
                                                <div class="card-body">
                                                        <form method="POST"  action="/admin/categories/create">
                                                            <div class="form-group">
                                                                <input class="form-control form-control-lg" required=true name="name" type="text" placeholder="Category Name" required value="">
                                                            </div>
                                                                
                                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Add Category</button>
                                                        </form>
                                                </div>
                                          </div>
                                </div>
                            </div>
                        </div>
                        <%include ../partials/footer%>
                    </div>       
       
    <!-- Optional JavaScript -->
    <%include ../partials/javascript%>
    <script src="/js/toastr.min.js"></script>    
</body>
 
</html>